{% extends "layout.html" %}

{% block content %}

<div class="card home">

	{% if calendar == [] %}
	<div class="empty_state">
		<h2>You don't have any active habits</h2>
		<p>Get started with your first habit</p>
		<button id="new_habit" class="black-button">Add habit</button>
	</div>
	{% else %}

	<div class="calendar">
		<div class="calendar_header">
			<a href="/home?month={{months.prev_month.year}}-{{months.prev_month.month}}">
				<div id="previous_month"><span class="month_arrow">&#9664;</span>Prev<span class='full_month'>ious month</span></div>
			</a>
			<div class="month_name">{{months.current_month.strftime("%B")}}</div>
			<a href="/home?month={{months.next_month.year}}-{{months.next_month.month}}">
				<div id="next_month">Next<span class='full_month'>&nbsp;month</span><span class="month_arrow">&#9654;</span></div>
			</a>
		</div>
		<div class="calendar_container">
 			{% for day in calendar %}
					<div class="day_group">
					{% if day.date.month != months.current_month.month %}
						<div class="date greyed">{{day.date.day}}</div>
					{% elif day.date == today %}
						<div class="date today">{{day.date.day}}</div>
					{% else %}
						<div class="date">{{day.date.day}}</div>
					{% endif %}
		 			{% for d,habit,event in day.events %}
		 				{% if day.date == today %}
							{% if event == None %}
			 					<div onclick="toggleCompletion(caller=this,date='{{day.date}}',habit={{habit}})" class="row today" data_id="{{habit}}"></div>
			 				{% elif event > 20 %}
			 					<div  onclick="toggleCompletion(caller=this,date='{{day.date}}',habit={{habit}})" class="row today level6" data_id="{{habit}}"></div>
							{% elif event>11 %}
			 					<div  onclick="toggleCompletion(caller=this,date='{{day.date}}',habit={{habit}})" class="row today level5" data_id="{{habit}}"></div>
							{% elif event>6 %}
			 					<div  onclick="toggleCompletion(caller=this,date='{{day.date}}',habit={{habit}})" class="row today level4" data_id="{{habit}}"></div>
							{% elif event>3 %}
			 					<div  onclick="toggleCompletion(caller=this,date='{{day.date}}',habit={{habit}})" class="row today level3" data_id="{{habit}}"></div>
							{% elif event>1 %}
			 					<div  onclick="toggleCompletion(caller=this,date='{{day.date}}',habit={{habit}})" class="row today level2" data_id="{{habit}}"></div>
			 				{% else %}
			 					<div  onclick="toggleCompletion(caller=this,date='{{day.date}}',habit={{habit}})" class="row today level1" data_id="{{habit}}"></div>
			 				{% endif %}
		 				{% else %}
							{% if event == None %}
			 					<div class="row" data_id="{{habit}}"></div>
			 				{% elif event > 20 %}
			 					<div class="row level6" data_id="{{habit}}"></div>
							{% elif event>11 %}
			 					<div class="row level5" data_id="{{habit}}"></div>
							{% elif event>6 %}
			 					<div class="row level4" data_id="{{habit}}"></div>
							{% elif event>3 %}
			 					<div class="row level3" data_id="{{habit}}"></div>
							{% elif event>1 %}
			 					<div class="row level2" data_id="{{habit}}"></div>
			 				{% else %}
			 					<div class="row level1" data_id="{{habit}}"></div>
			 				{% endif %}
		 				{% endif %}
					{% endfor %}
				</div>
			{% endfor %}
 		</div>
	</div>
	<div class="habits">
		<div class="habit_header">
			<h2>Habits</h2>
			<button id="new_habit">+ Add habit</button>
		</div>
		{% for i in range(7) %}
		{% if i<2 %}
		<div class="habit_list">
		{% elif i<5 %}
		<div class="habit_list tablet">
		{% else %}
		<div class="habit_list phone">
		{% endif %}
			{% for habit in habits%}
			<div class="habit" data_id="{{habit.id}}" onmouseover="this.getElementsByTagName('span')[0].style.display='flex';" onmouseout="this.getElementsByTagName('span')[0].style.display='none';">
				{{ habit.name }}
				<span class="delete_habit">
					<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect x="6" y="10" width="10" height="2" fill="#BBBBBB"/>
					<rect x="0.5" y="0.5" width="21" height="21" rx="1.5" stroke="#BBBBBB"/>
					</svg>
				</span>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
</div>
	{% endif %}

<div id="modal">
	<div class="modal_bg"></div>
	<div class="card" id="create_habit_modal">
		<form action="" method="POST">
			{{	form.hidden_tag() }}
			<fieldset>
				<legend>New habit</legend>
				<div>
					{% if form.name.errors %}
						{{form.name(class="form-control-input")}}
					<div class="invalid-feedback">
						{% for error in form.name.errors %}
							<span>{{error}}</span>
						{% endfor %}
					</div>
					{% else %}
					{{form.name(class="form-control-input")}}
					{% endif %}
				</div>
				<div>
					{{form.submit(class='black-button')}}
				</div>
			</fieldset>
		</form>		
	</div>
	<div class="card" id="delete_habit_modal">
		<h2>Are you sure?</h2>
		<div>You are about to delete this habit. All previous date will be lost.</div>
			<div>
				<button class="black-button" id="confirm_delete" >Delete habit</button>
				<button id="cancel_delete">Cancel</button>
			</div>
	</div>


</div>
	
{% endblock content %}
{% block scripts %}
	<script src="{{ url_for('static', filename='main.js') }}"></script>
	<script src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}